@media (max-width: 1030px) {
  #sticky-head {
    position: static; } }
@media (min-width: 1031px) {
  #sticky-head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15; } }

header {
  width: 100%;
  min-height: 85px;
  background: #ffffff; }
  @media (max-width: 1000px) {
    header {
      text-align: center; } }

.header__logo {
  margin-top: 15px; }

.header__menu {
  width: auto;
  height: 100%;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #2c3731;
  margin-top: 20px; }
  .header__menu li {
    display: inline-block;
    height: 100%;
    padding: 0; }
    @media (max-width: 745px) {
      .header__menu li {
        border: none;
        height: auto;
        padding: none; } }
    .header__menu li:hover {
      border-color: #5dcf91; }
  .header__menu .active {
    font-weight: bold;
    color: #2c3731;
    border-color: #5dcf91; }
  .header__menu a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
    padding: 0 0.7rem; }

@media (max-width: 640px) {
  .title-bar {
    margin: 20px 0; } }

.header__btn {
  width: 95px;
  height: 50px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
  background: #3b454c;
  margin-top: 15px; }

.header__btn--second {
  background: #33adde; }

.header__lang:after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 7px;
  background: url("../img/head-dropdown-icon.png") no-repeat;
  margin-left: 5px; }

.hp__banner {
  width: 100%;
  min-height: 1958px;
  background: url("../img/hp-banner.png") no-repeat;
  background-size: cover;
  margin-top: 85px; }
  .hp__banner h1 {
    font-size: 72px;
    font-size: 4.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin: 230px 0; }

.hp__banners__item {
  position: relative;
  width: 30%;
  margin: 0 1.6%;
  float: left; }
  @media (max-width: 725px) {
    .hp__banners__item {
      width: 80%;
      margin: 20px 10%; } }

.hp__banners__item__title {
  width: 100%;
  min-height: 80px;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background: url("../img/hp-banners-bg.png") no-repeat;
  padding-left: 35px; }
  .hp__banners__item__title a {
    color: #ffffff; }
    .hp__banners__item__title a:hover {
      text-decoration: underline; }
  .hp__banners__item__title span {
    display: inline-block;
    max-width: 140px;
    padding-top: 22px; }
  .hp__banners__item__title img {
    position: absolute;
    top: -10px;
    right: 10%; }
    @media (max-width: 1095px) {
      .hp__banners__item__title img {
        display: none; } }

.hp__why {
  text-align: center;
  margin-top: 150px; }

.hp__why__icon {
  text-align: center;
  margin-top: 100px; }
  .hp__why__icon span:before {
    display: block;
    width: 100%;
    height: 75px;
    content: "";
    margin-bottom: 10px; }
  .hp__why__icon .first:before {
    background: url("../img/hp-audit-icon.png") no-repeat 50% 50%; }
  .hp__why__icon .second:before {
    background: url("../img/hp-skoleni-icon.png") no-repeat 50% 50%; }
  .hp__why__icon .third:before {
    background: url("../img/hp-optimalizace-icon.png") no-repeat 50% 50%; }
  .hp__why__icon span {
    display: inline-block;
    font-size: 20px;
    font-size: 1.250rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px; }
  .hp__why__icon p {
    font-size: 16px;
    font-size: 1rem;
    font-weight: lighter;
    color: #ffffff; }

.hp__why__icon__item {
  width: 25%;
  margin: 0 4.16%;
  float: left; }
  @media (max-width: 650px) {
    .hp__why__icon__item {
      width: 90%;
      margin: 20px 5%; } }

.hp__info-box {
  width: 100%;
  min-height: 203px;
  background: url("../img/hp-info-box-bg.png") no-repeat;
  background-size: cover; }
  .hp__info-box a:hover span:after {
    margin-left: 15px; }
  .hp__info-box span {
    display: inline-block;
    font-size: 28px;
    font-size: 1.75rem;
    font-weight: bold;
    line-height: normal;
    color: #ffffff;
    margin-top: 25px; }
    .hp__info-box span:after {
      position: relative;
      display: inline-block;
      content: "";
      width: 21px;
      height: 22px;
      background: url("../img/hp-info-box-hover.png") no-repeat;
      transition: 300ms;
      margin-left: 10px; }
  .hp__info-box p {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 100;
    color: #ffffff;
    margin-top: 15px; }
  .hp__info-box .columns:last-child {
    padding-left: 40px; }
  .hp__info-box .circle {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    border: 2px solid #319bd1;
    margin: 45px 0 0 15px;
    float: left; }
    .hp__info-box .circle p {
      font-size: 33px;
      font-size: 2.063rem;
      font-weight: bolder;
      line-height: normal;
      text-align: center;
      color: #ffffff;
      padding: 0;
      margin: 25px 0 0 0; }
    .hp__info-box .circle span {
      display: block;
      font-size: 16px;
      font-size: 1rem;
      font-weight: lighter;
      line-height: normal;
      color: #ffffff;
      padding: 0;
      margin: 0; }
      .hp__info-box .circle span:after {
        display: none; }

.hp__info-box--second span:after {
  display: none; }
.hp__info-box--second .shop, .hp__info-box--second .rental {
  font-size: 50px;
  font-size: 3.125rem;
  font-weight: bolder;
  margin: 45px 0 0 15px; }
.hp__info-box--second .shop:before {
  position: relative;
  top: 10px;
  display: inline-block;
  content: "";
  width: 52px;
  height: 52px;
  background: url("../img/hp-shop-icon.png") no-repeat;
  margin-right: 15px; }
.hp__info-box--second .rental:before {
  position: relative;
  top: 10px;
  display: inline-block;
  content: "";
  width: 58px;
  height: 52px;
  background: url("../img/hp-thumb-icon.png") no-repeat;
  margin-right: 15px; }
.hp__info-box--second p {
  padding: 0;
  margin: 0; }
  .hp__info-box--second p:after {
    position: relative;
    top: 5px;
    display: inline-block;
    content: "";
    width: 21px;
    height: 22px;
    background: url("../img/hp-info-box-hover.png") no-repeat;
    transition: 300ms;
    margin-left: 10px; }
.hp__info-box--second a:hover p:after {
  margin-left: 15px; }

.hp__response {
  text-align: center;
  margin-top: 55px; }
  .hp__response h2 {
    font-size: 36px;
    font-size: 2.250rem;
    font-weight: bolder;
    color: #282c2f; }
    .hp__response h2:after {
      display: block;
      content: "";
      width: 100%;
      height: 28px;
      background: url("../img/hp_response-img.png") no-repeat 50% 50%;
      margin-top: 10px; }

.hp__response__item {
  width: 32%;
  min-height: 200px;
  text-align: left;
  background: #f2f3f7 url("../img/hp_response-bg.png") no-repeat 100% 100%;
  padding: 10px;
  margin: 20px 0.6% 0 0.6%;
  float: left; }
  @media (max-width: 650px) {
    .hp__response__item {
      width: 80%;
      margin: 20px 10%; } }
  .hp__response__item a {
    color: inherit; }
  .hp__response__item img {
    padding: 0 10px 10px 10px;
    float: left; }
  .hp__response__item p {
    font-size: 16px;
    font-size: 1rem;
    font-weight: lighter;
    font-style: italic;
    color: #52636d; }
  .hp__response__item span {
    display: block;
    width: 100%;
    font-weight: bold;
    padding-left: 5px;
    clear: both; }

.hp__response__btn {
  display: inline-block;
  width: 210px;
  height: 60px;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bolder;
  line-height: 60px;
  color: #ffffff;
  border-radius: 4px;
  background: #3b454c;
  margin: 40px 0; }
  .hp__response__btn:hover {
    color: #ffffff; }
    .hp__response__btn:hover span:after {
      margin-left: 15px; }
  .hp__response__btn span:after {
    display: inline-block;
    content: "";
    width: 17px;
    height: 12px;
    background: url("../img/hp_response-arrow.png") no-repeat;
    transition: 300ms;
    margin-left: 10px; }

.hp__machine {
  width: 100%;
  background: url("../img/hp-machine-bg.png") no-repeat;
  background-size: cover; }
  .hp__machine .hp__machine__title {
    margin: 40px 0; }
  .hp__machine p {
    font-size: 18px;
    font-size: 1.125rem;
    color: #ffffff; }
  .hp__machine .hp__machine__machine {
    margin: 40px 0; }
    @media (max-width: 650px) {
      .hp__machine .hp__machine__machine {
        display: none; } }

.hp__machine__btn {
  display: inline-block;
  width: 210px;
  height: 60px;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bolder;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  background: #33adde;
  margin: 40px 0;
  float: left; }
  .hp__machine__btn:hover {
    color: #ffffff; }
    .hp__machine__btn:hover span:after {
      margin-left: 15px; }
  .hp__machine__btn span:after {
    display: inline-block;
    content: "";
    width: 17px;
    height: 12px;
    background: url("../img/hp_response-arrow.png") no-repeat;
    transition: 300ms;
    margin-left: 10px; }

.hp__machine__product-by {
  max-width: 300px;
  margin: 50px 0 0 15px; }
  @media (max-width: 650px) {
    .hp__machine__product-by {
      display: none; } }

.hp__movie {
  width: 100%; }
  .hp__movie video {
    width: 100%; }
  .hp__movie img {
    width: 100%; }

.hp__news {
  margin-top: 55px; }
  .hp__news h2 {
    font-size: 36px;
    font-size: 2.250rem;
    font-weight: bolder;
    text-align: center;
    color: #282c2f; }
    .hp__news h2:after {
      display: block;
      content: "";
      width: 100%;
      height: 28px;
      background: url("../img/hp_response-img.png") no-repeat 50% 50%;
      margin-top: 10px; }

.hp__news__item {
  width: 32%;
  margin: 40px 0.6% 0 0.6%;
  float: left; }
  @media (max-width: 650px) {
    .hp__news__item {
      width: 80%;
      text-align: center;
      margin: 20px 10% 20px 10%; } }
  .hp__news__item h3 {
    max-width: 80%;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: bolder;
    color: #52636d; }
    @media (max-width: 650px) {
      .hp__news__item h3 {
        max-width: 100%; } }
  .hp__news__item img {
    margin: 10px 0; }
  .hp__news__item p {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: lighter;
    color: #35474d; }
  .hp__news__item a {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: normal;
    color: #35474d;
    text-decoration: underline; }
    .hp__news__item a:hover {
      text-decoration: none; }

footer {
  width: 100%;
  background: url("../img/hp-machine-bg.png");
  background-size: cover; }
  footer h3 {
    font-size: 20px;
    font-size: 1.250rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: #ffffff;
    margin: 30px 0; }
  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    footer ul li {
      padding: 0;
      margin: 0; }
      footer ul li a {
        font-size: 16px;
        font-size: 1rem;
        font-weight: lighter;
        color: #ffffff; }
        footer ul li a:hover {
          text-decoration: underline;
          color: #ffffff; }
  footer form {
    position: relative; }
  footer input[type="text"] {
    position: relative;
    height: 55px;
    border: none;
    border-radius: 4px;
    background: rgba(60, 62, 63, 0.5);
    padding: 0 10px; }
  footer input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    border: none;
    border-radius: 0;
    background: #4cc8fe url("../img/footer-search-icon.png") no-repeat 50% 50%; }
  footer input.newsletter {
    background: #4cc8fe url("../img/footer-newsletter-icon.png") no-repeat 50% 50%; }
  footer span {
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
    font-weight: lighter;
    color: #ffffff;
    padding: 0;
    margin: 0; }
  footer p {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #ffffff;
    padding: 0;
    margin: 0 0 15px 0; }

.footer__info {
  width: 100%;
  padding: 20px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
  margin-top: 40px; }
  .footer__info a {
    font-size: 14px;
    font-size: 0.875rem;
    color: #ffffff;
    text-decoration: none; }
    .footer__info a:hover {
      text-decoration: underline; }
  .footer__info small a {
    font-size: 12px; }

/*# sourceMappingURL=css.css.map */
