footer {
	width: 100%;
	background: url("../img/hp-machine-bg.png");
	background-size: cover;

	h3 {
		font-size: 20px;
		font-size: 1.250rem;
		font-weight: bolder;
		text-transform: uppercase;
		color: #ffffff;
		margin: 30px 0;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			padding: 0;
			margin: 0;

			a {
				font-size: 16px;
				font-size: 1rem;
				font-weight: lighter;
				color: #ffffff;

				&:hover {
					text-decoration: underline;
					color: #ffffff;
				}
			}
		}
	}

	form {
		position: relative;
	}

	input[type="text"] {
		position: relative;
		height: 55px;
		border: none;
		border-radius: 4px;
		background: rgba(60, 62, 63, 0.5);
		padding: 0 10px;
	}

	input[type="submit"] {
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		height: 100%;
		border: none;
		border-radius: 0;
		background: #4cc8fe url("../img/footer-search-icon.png") no-repeat 50% 50%;
	}

	input.newsletter {
		background: #4cc8fe url("../img/footer-newsletter-icon.png") no-repeat 50% 50%;
	}

	span {
		display: inline-block;
		font-size: 16px;
		font-size: 1rem;
		font-weight: lighter;
		color: #ffffff;
		padding: 0;
		margin: 0;
	}

	p {
		font-size: 24px;
		font-size: 1.5rem;
		font-weight: bolder;
		color: #ffffff;
		padding: 0;
		margin: 0 0 15px 0;
	}
}

.footer__info {
	width: 100%;
	padding: 20px 0;
	color: #ffffff;
	background: rgba(0, 0, 0, .6);
	margin-top: 40px;

	a {
		font-size: 14px;
		font-size: 0.875rem;
		color: #ffffff;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	small a {
		font-size: 12px;
	}
}