#sticky-head {

	@media (max-width: 1030px) {
		position: static;
	}

	@media (min-width: 1031px) {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 15;
	}
}

header {
	width: 100%;
	min-height: 85px;
	background: #ffffff;

	@media (max-width: 1000px) {
		text-align: center;
	}
}

.header__logo {
	margin-top: 15px;
}

.header__menu {
	width: auto;
	height: 100%;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	color: #2c3731;
	margin-top: 20px;

	li {
		display: inline-block;
		height: 100%;
		padding: 0;

		@media (max-width: 745px) {
			border: none;
			height: auto;
			padding: none;
		}

		&:hover {
			border-color: #5dcf91;
		}
	}

	.active {
		font-weight: bold;
		color: #2c3731;
		border-color: #5dcf91;
	}

	a {
		display: inline-block;
		width: 100%;
		height: 100%;
		color: inherit;
		text-decoration: none;
		padding: 0 0.7rem;
	}
}

.title-bar {
	@media(max-width: 640px) {
		margin: 20px 0;
	}
}

.header__btn {
	width: 95px;
	height: 50px;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 4px;
	background: #3b454c;
	margin-top: 15px;
}

.header__btn--second {
	background: #33adde;
}

.header__lang {
	&:after {
		display: inline-block;
		content: "";
		width: 10px;
		height: 7px;
		background: url("../img/head-dropdown-icon.png") no-repeat;
		margin-left: 5px;
	}
}