.hp__banner {
	width: 100%;
	min-height: 1958px;
	background: url("../img/hp-banner.png") no-repeat;
	background-size: cover;
	margin-top: 85px;

	h1 {
		font-size: 72px;
		font-size: 4.5rem;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
		margin: 230px 0;
	}
}

.hp__banners__item {
	position: relative;
	width: 30%;
	margin: 0 1.6%;
	float: left;

	@media (max-width: 725px) {
		width: 80%;
		margin: 20px 10%;
	}
}

.hp__banners__item__title {
	width: 100%;
	min-height: 80px;
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	background: url("../img/hp-banners-bg.png") no-repeat;
	padding-left: 35px;

	a {
		color: #ffffff;

		&:hover {
			text-decoration: underline;
		}
	}

	span {
		display: inline-block;
		max-width: 140px;
		padding-top: 22px;
	}

	img {
		position: absolute;
		top: -10px;
		right: 10%;

		@media (max-width: 1095px) {
			display: none;
		}
	}
}

.hp__why {
	text-align: center;
	margin-top: 150px;
}

.hp__why__icon {
	text-align: center;
	margin-top: 100px;

	span:before {
		display: block;
		width: 100%;
		height: 75px;
		content: "";
		margin-bottom: 10px;
	}

	.first:before {
		background: url("../img/hp-audit-icon.png") no-repeat 50% 50%;
	}

	.second:before {
		background: url("../img/hp-skoleni-icon.png") no-repeat 50% 50%;
	}

	.third:before {
		background: url("../img/hp-optimalizace-icon.png") no-repeat 50% 50%;
	}

	span {
		display: inline-block;
		font-size: 20px;
		font-size: 1.250rem;
		font-weight: bold;
		color: #ffffff;
		margin-bottom: 10px;
	}

	p {
		font-size: 16px;
		font-size: 1rem;
		font-weight: lighter;
		color: #ffffff;
	}
}

.hp__why__icon__item {
	width: 25%;
	margin: 0 4.16%;
	float: left;

	@media (max-width: 650px) {
		width: 90%;
		margin: 20px 5%;
	}
}

.hp__info-box {
	width: 100%;
	min-height: 203px;
	background: url("../img/hp-info-box-bg.png") no-repeat;
	background-size: cover;

	a {
		&:hover {
			span:after {
				margin-left: 15px;
			}
		}
	}

	span {
		display: inline-block;
		font-size: 28px;
		font-size: 1.75rem;
		font-weight: bold;
		line-height: normal;
		color: #ffffff;
		margin-top: 25px;

		&:after {
			position: relative;
			display: inline-block;
			content: "";
			width: 21px;
			height: 22px;
			background: url("../img/hp-info-box-hover.png") no-repeat;
			transition: 300ms;
			margin-left: 10px;
		}
	}

	p {
		font-size: 18px;
		font-size: 1.125rem;
		font-weight: 100;
		color: #ffffff;
		margin-top: 15px;
	}

	.columns:last-child {
		padding-left: 40px;
	}

	.circle {
		width: 115px;
		height: 115px;
		border-radius: 50%;
		border: 2px solid #319bd1;
		margin: 45px 0 0 15px;
		float: left;

		p {
			font-size: 33px;
			font-size: 2.063rem;
			font-weight: bolder;
			line-height: normal;
			text-align: center;
			color: #ffffff;
			padding: 0;
			margin: 25px 0 0 0;
		}

		span {
			display: block;
			font-size: 16px;
			font-size: 1rem;
			font-weight: lighter;
			line-height: normal;
			color: #ffffff;
			padding: 0;
			margin: 0;

			&:after {
				display: none;
			}
		}
	}
}

.hp__info-box--second {
	span:after {
		display: none;
	}

	.shop, .rental {
		font-size: 50px;
		font-size: 3.125rem;
		font-weight: bolder;
		margin: 45px 0 0 15px;
	}

	.shop {
		&:before {
			position: relative;
			top: 10px;
			display: inline-block;
			content: "";
			width: 52px;
			height: 52px;
			background: url("../img/hp-shop-icon.png") no-repeat;
			margin-right: 15px;
		}
	}

	.rental {
		&:before {
			position: relative;
			top: 10px;
			display: inline-block;
			content: "";
			width: 58px;
			height: 52px;
			background: url("../img/hp-thumb-icon.png") no-repeat;
			margin-right: 15px;
		}
	}

	p {
		padding: 0;
		margin: 0;

		&:after {
			position: relative;
			top: 5px;
			display: inline-block;
			content: "";
			width: 21px;
			height: 22px;
			background: url("../img/hp-info-box-hover.png") no-repeat;
			transition: 300ms;
			margin-left: 10px;
		}
	}

	a {
		&:hover {
			p:after {
				margin-left: 15px;
			}
		}
	}
}

.hp__response {
	text-align: center;
	margin-top: 55px;

	h2 {
		font-size: 36px;
		font-size: 2.250rem;
		font-weight: bolder;
		color: #282c2f;

		&:after {
			display: block;
			content: "";
			width: 100%;
			height: 28px;
			background: url("../img/hp_response-img.png") no-repeat 50% 50%;
			margin-top: 10px;
		}
	}
}

.hp__response__item {
	width: 32%;
	min-height: 200px;
	text-align: left;
	background: #f2f3f7 url("../img/hp_response-bg.png") no-repeat 100% 100%;
	padding: 10px;
	margin: 20px 0.6% 0 0.6%;
	float: left;

	@media (max-width: 650px) {
		width: 80%;
		margin: 20px 10%;
	}

	a {
		color: inherit;
	}

	img {
		padding: 0 10px 10px 10px;
		float: left;
	}

	p {
		font-size: 16px;
		font-size: 1rem;
		font-weight: lighter;
		font-style: italic;
		color: #52636d;
	}

	span {
		display: block;
		width: 100%;
		font-weight: bold;
		padding-left: 5px;
		clear: both;
	}
}

.hp__response__btn {
	display: inline-block;
	width: 210px;
	height: 60px;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: bolder;
	line-height: 60px;
	color: #ffffff;
	border-radius: 4px;
	background: #3b454c;
	margin: 40px 0;

	&:hover {
		color: #ffffff;

		span:after {
			margin-left: 15px;
		}
	}

	span:after {
		display: inline-block;
		content: "";
		width: 17px;
		height: 12px;
		background: url("../img/hp_response-arrow.png") no-repeat;
		transition: 300ms;
		margin-left: 10px;
	}
}

.hp__machine {
	width: 100%;
	background: url("../img/hp-machine-bg.png") no-repeat;
	background-size: cover;

	.hp__machine__title {
		margin: 40px 0;
	}

	p {
		font-size: 18px;
		font-size: 1.125rem;
		color: #ffffff;
	}

	.hp__machine__machine {
		margin: 40px 0;

		@media (max-width: 650px) {
			display: none;
		}
	}
}

.hp__machine__btn {
	display: inline-block;
	width: 210px;
	height: 60px;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: bolder;
	line-height: 60px;
	text-align: center;
	color: #ffffff;
	border-radius: 4px;
	background: #33adde;
	margin: 40px 0;
	float: left;

	&:hover {
		color: #ffffff;

		span:after {
			margin-left: 15px;
		}
	}

	span:after {
		display: inline-block;
		content: "";
		width: 17px;
		height: 12px;
		background: url("../img/hp_response-arrow.png") no-repeat;
		transition: 300ms;
		margin-left: 10px;
	}
}

.hp__machine__product-by {
	max-width: 300px;
	margin: 50px 0 0 15px;

	@media (max-width: 650px) {
		display: none;
	}
}

.hp__movie {
	width: 100%;

	video {
		width: 100%;
	}

	img {
		width: 100%;
	}
}

.hp__news {
	margin-top: 55px;

	h2 {
		font-size: 36px;
		font-size: 2.250rem;
		font-weight: bolder;
		text-align: center;
		color: #282c2f;

		&:after {
			display: block;
			content: "";
			width: 100%;
			height: 28px;
			background: url("../img/hp_response-img.png") no-repeat 50% 50%;
			margin-top: 10px;
		}
	}
}

.hp__news__item {
	width: 32%;
	margin: 40px 0.6% 0 0.6%;
	float: left;

	@media (max-width: 650px) {
		width: 80%;
		text-align: center;
		margin: 20px 10% 20px 10%;
	}

	h3 {
		max-width: 80%;
		font-size: 18px;
		font-size: 1.125rem;
		font-weight: bolder;
		color: #52636d;

		@media (max-width: 650px) {
			max-width: 100%;
		}
	}

	img {
		margin: 10px 0;
	}

	p {
		font-size: 14px;
		font-size: 0.875rem;
		font-weight: lighter;
		color: #35474d;
	}

	a {
		font-size: 18px;
		font-size: 1.125rem;
		font-weight: normal;
		color: #35474d;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}